In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("retail_sales.csv")

In [9]:
df.head()

         Date    Store    Product    Category   Sales  Quantity
0  29-01-2023  Store_D  Product_3  Category_2  430.24        11
1  09-10-2023  Store_B  Product_1  Category_2  212.26        18
2  09-08-2023  Store_C  Product_1  Category_1  538.42         8
3  03-05-2023  Store_B  Product_2  Category_2  670.34         9
4  08-11-2023  Store_A  Product_3  Category_3  562.97        17

In [49]:
s = df.groupby('Store').sum()['Sales']

In [122]:
Q1 = df["Sales"].quantile(0.25)
Q3 = df["Sales"].quantile(0.75)
IQR = Q3 - Q1
lb =  Q1 - 1.5 * IQR
ub = Q3 + 1.5 * IQR
df[(df["Sales"] < lb )| (df["Sales"] > ub)].dropna()

Empty DataFrame
Columns: [Date, Store, Product, Category, Sales, Quantity]
Index: []

In [51]:
s

Store
Store_A    52090.36
Store_B    50726.71
Store_C    44523.58
Store_D    45760.32
Store_E    45513.99
Name: Sales, dtype: float64

In [69]:
s2 = df.groupby('Product')['Sales'].mean()

In [71]:
s2

Product
Product_1    475.286455
Product_2    435.928041
Product_3    488.653878
Product_4    497.446531
Product_5    488.768969
Name: Sales, dtype: float64

In [73]:
s2 = s2.reset_index()

In [77]:
s2.max()

Product     Product_5
Sales      497.446531
dtype: object

In [99]:
s3 = df.groupby('Product')['Quantity'].sum().reset_index()

In [101]:
s3

     Product  Quantity
0  Product_1      1222
1  Product_2       991
2  Product_3      1017
3  Product_4      1018
4  Product_5       982

In [103]:
s3.max()

Product     Product_5
Quantity         1222
dtype: object

In [120]:
#Use the IQR method to detect outliers in the Quantity column.
Q1 = df["Quantity"].quantile(0.25)
Q3 = df["Quantity"].quantile(0.75)
IQR = Q3 - Q1
lb =  Q1 - 1.5 * IQR
ub = Q3 + 1.5 * IQR
df[(df["Quantity"] < lb )| (df["Quantity"] > ub)].dropna()

Empty DataFrame
Columns: [Date, Store, Product, Category, Sales, Quantity]
Index: []

In [128]:
df = df.sort_values(by = "Sales")

In [130]:
df = df.sort_index(ascending = False)

In [132]:
df.head(20)

           Date    Store    Product    Category   Sales  Quantity
499  04-01-2023  Store_C  Product_5  Category_3  708.42        12
498  23-07-2023  Store_D  Product_5  Category_2  748.95        18
497  28-11-2023  Store_B  Product_5  Category_1  553.18        11
496  28-11-2023  Store_C  Product_1  Category_2  551.81         3
495  29-09-2023  Store_E  Product_1  Category_1  698.10        19
494  18-12-2023  Store_B  Product_5  Category_1  283.23         1
493  10-12-2023  Store_D  Product_4  Category_1  312.13        19
492  19-01-2023  Store_C  Product_2  Category_1  816.11        11
491  10-02-2023  Store_E  Product_1  Category_3  858.87         1
490  03-11-2023  Store_E  Product_5  Category_1  990.02         4
489  07-08-2023  Store_B  Product_3  Category_3  811.75         8
488  02-11-2023  Store_E  Product_5  Category_3  237.24         6
487  05-06-2023  Store_D  Product_4  Category_3  992.74         8
486  19-02-2023  Store_A  Product_1  Category_3  413.72         7
485  03-01-2023  Store_C  Product_3  Category_2  371.87        10
484  19-05-2023  Store_D  Product_4  Category_3  449.05        18
483  08-04-2023  Store_B  Product_2  Category_1  663.46        18
482  21-07-2023  Store_A  Product_1  Category_1  288.93        13
481  30-09-2023  Store_C  Product_2  Category_1  578.84         5
480  15-02-2023  Store_A  Product_5  Category_2  785.72         5

In [146]:
# Rank the stores by their average sales amount using the rank() method with the 'min' ranking method for ties.
r = df.groupby("Store")["Sales"].mean()
r

Store
Store_A    526.165253
Store_B    487.756827
Store_C    459.005979
Store_D    466.942041
Store_E    446.215588
Name: Sales, dtype: float64

In [152]:
# rnk = r.rank(ascending = False)
rnk = r.rank(pct=True)
rnk

Store
Store_A    1.0
Store_B    0.8
Store_C    0.4
Store_D    0.6
Store_E    0.2
Name: Sales, dtype: float64