In [3]:
import pandas as pd

In [7]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'C', 'A', 'C', 'B'],
    'Values': [10, 20, 15, 30, 25, 5, 35, 40],
    'Quantity': [1, 2, 3, 1, 2, 3, 1, 2]
}

df = pd.DataFrame(data)
df

  Category  Values  Quantity
0        A      10         1
1        B      20         2
2        A      15         3
3        B      30         1
4        C      25         2
5        A       5         3
6        C      35         1
7        B      40         2

In [9]:
grouped = df.groupby('Category', as_index=True).sum()
grouped

          Values  Quantity
Category
A             30         7
B             90         5
C             60         3

In [16]:
 df.groupby('Category').sum()['Quantity']

Category
A    7
B    5
C    3
Name: Quantity, dtype: int64

In [13]:
df.groupby(['Category', 'Quantity']).sum()

                   Values
Category Quantity
A        1             10
         3             20
B        1             30
         2             60
C        1             35
         2             25

In [15]:
import pandas as pd
name=pd.Series(['Anand','Priya','Aryan'], name='Name')
ages=pd.Series([25,30,35],name='Age')

pd.concat([name,ages],axis=1)

    Name  Age
0  Anand   25
1  Priya   30
2  Aryan   35