In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C':[80,44,23]
})

In [10]:
df.head(1)

    A   B   C
0  10  40  80

In [12]:
df.head()

    A   B   C
0  10  40  80
1  20  50  44
2  30  60  23

In [44]:
print(df[['A', 'B', 'C']].head(2))

    A   B   C
0  10  40  80
1  20  50  44