In [27]:
import sqlite3

In [29]:
conn=sqlite3.connect('schol.db')
conn.execute("PRAGMA foreign_keys= 1")
cursor=conn.cursor()

cursor.execute(''' CREATE TABLE IF NOT EXISTS subjects (subject_id INTEGER PRIMARY KEY, subject_name TEXT NOT NULL)''')

cursor.execute(''' CREATE TABLE IF NOT EXISTS students (student_id INTEGER PRIMARY KEY, student_name TEXT NOT NULL, subject_id INTEGER,marks INTEGER, FOREIGN KEY (subject_id) REFERENCES subjects (subject_id) )''')

cursor.execute('CREATE INDEX IF NOT EXISTS idx_student_name ON students (student_name)')
cursor.execute('CREATE INDEX IF NOT EXISTS idx_subject_name ON subjects (subject_name)')

cursor.execute("INSERT INTO subjects (subject_name) VALUES ('math'),('python'), ('data science'), ('aptitude')")
# cursor.execute("INSERT INTO departments (department_name) VALUES ('Engineering')")
# cursor.execute("INSERT INTO departments (department_name) VALUES ('Sales')")

cursor.execute("INSERT INTO students (student_name, subject_id, marks) VALUES ('Mayura',1, 99), ('Mayuresh', 2,78), ('Sugandha', 3,98), ('Srujan',4,67)")
conn.commit()

In [31]:
cursor.execute("select * from subjects")
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'math')
(2, 'python')
(3, 'data science')
(4, 'aptitude')

In [33]:
cursor.execute("select * from students")
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Mayura', 1, 99)
(2, 'Mayuresh', 2, 78)
(3, 'Sugandha', 3, 98)
(4, 'Srujan', 4, 67)

In [35]:
cursor.execute("SELECT students.student_name, subjects.subject_name, students.marks from students join subjects on subjects.subject_id = students.subject_id")
results = cursor.fetchall()
for row in results:
    print(row)

('Mayura', 'math', 99)
('Mayuresh', 'python', 78)
('Sugandha', 'data science', 98)
('Srujan', 'aptitude', 67)

In [37]:
cursor.execute("drop table students")
cursor.execute("drop table subjects")

In [40]:
cursor.close()
conn.close()