In [12]:
from sqlalchemy import create_engine, MetaData, Column, Integer,String,Float,Sequence
from sqlalchemy.orm import declarative_base, sessionmaker
from sqlalchemy import inspect

In [14]:
engine = create_engine('sqlite:///school_orm.db')
Base = declarative_base()

In [16]:
class student(Base):
    __tablename__ = 'students'
    id = Column(Integer, Sequence('student_id_seq'), primary_key = True)
    name = Column(String(50))
    subject_id = Column(Integer, unique = True)
    marks = Column(Integer)

In [18]:
metadata =MetaData()
metadata.reflect(bind = engine)
Base.metadata.create_all(engine)

In [20]:
students = metadata.tables['students']
inspector = inspect(engine)
columns = inspector.get_columns('students')

In [22]:
Session = sessionmaker(bind = engine)
session = Session()
students = [
    student(name = 'adarsh', subject_id = 1, marks = 98),
    student(name = 'anu', subject_id = 4, marks = 96),
    student(name = 'ankit', subject_id = 2, marks = 94),
]
session.add_all(students)
session.commit()
all_employees = session.query(student).all()

In [24]:
for std in all_employees:
    print(f"{std.id}: {std.name} - {std.marks}")

1: adarsh - 98
2: anu - 96
3: ankit - 94

In [26]:
# Base.metadata.drop_all(engine, tables=[student.__table__])
Base.metadata.drop_all(engine)