In [1]:
import sqlite3

In [3]:
    conn=sqlite3.connect('DAIBatch2024.db')
    cursor=conn.cursor()

In [4]:
try:
    # cursor.execute("drop table users")
    cursor.execute(''' CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY,name TEXT,age INTEGER)''')
    cursor.execute("INSERT INTO users (name, age) VALUES ('Mayura',30)")
    cursor.execute("INSERT INTO users (name, age) VALUES ('Mayuresh',25)")
    cursor.execute("INSERT INTO users (name, age) VALUES ('Sugandha',30)")
    cursor.execute("INSERT INTO users (name, age) VALUES ('Srujan',25)")
    
    conn.commit()
    print("All records: \n")
    cursor.execute("SELECT * FROM users")
    print("Order By clause: \n")
    cursor.execute("SELECT * FROM users ORDER BY age")
    while True:
        row = cursor.fetchone()
        if row is None:
            break
        print(row)
    print("\n Users grouped by age with count:")
    cursor.execute("SELECT age, COUNT (*) as count FROM users GROUP BY age")
    results= cursor.fetchall()
    for row in results:
        print(row)
    
    cursor.execute("UPDATE users SET age = 22 WHERE name= 'Mayura'")
    results=cursor.fetchall()
    for row in results:
        print(row)
    
    cursor.execute("SELECT * FROM users where name like 'Mayura'")
    results=cursor.fetchall()
    print(results)
    
except Exceptions:
    print("there was error")
finally:
    cursor.close()
    conn.close()

All records:

Order By clause:

(2, 'Mayuresh', 25)
(4, 'Srujan', 25)
(6, 'Mayuresh', 25)
(8, 'Srujan', 25)
(10, 'Mayuresh', 25)
(12, 'Srujan', 25)
(14, 'Mayuresh', 25)
(16, 'Srujan', 25)
(18, 'Mayuresh', 25)
(20, 'Srujan', 25)
(22, 'Mayuresh', 25)
(24, 'Srujan', 25)
(26, 'Mayuresh', 25)
(28, 'Srujan', 25)
(30, 'Mayuresh', 25)
(32, 'Srujan', 25)
(1, 'Mayura', 30)
(3, 'Sugandha', 30)
(5, 'Mayura', 30)
(7, 'Sugandha', 30)
(9, 'Mayura', 30)
(11, 'Sugandha', 30)
(13, 'Mayura', 30)
(15, 'Sugandha', 30)
(17, 'Mayura', 30)
(19, 'Sugandha', 30)
(21, 'Mayura', 30)
(23, 'Sugandha', 30)
(25, 'Mayura', 30)
(27, 'Sugandha', 30)
(29, 'Mayura', 30)
(31, 'Sugandha', 30)

 Users grouped by age with count:
(25, 16)
(30, 16)
[(1, 'Mayura', 22), (5, 'Mayura', 22), (9, 'Mayura', 22), (13, 'Mayura', 22), (17, 'Mayura', 22), (21, 'Mayura', 22), (25, 'Mayura', 22), (29, 'Mayura', 22)]

In [5]:
conn=sqlite3.connect('company.db')
conn.execute("PRAGMA foreign_keys= 1")
cursor=conn.cursor()

cursor.execute(''' CREATE TABLE IF NOT EXISTS departments (department_id INTEGER PRIMARY KEY, department_name TEXT NOT NULL)''')

cursor.execute(''' CREATE TABLE IF NOT EXISTS employees (employee_id INTEGER PRIMARY KEY, employee_name TEXT NOT NULL, department_id INTEGER, FOREIGN KEY (department_id) REFERENCES departments (department_id) )''')

cursor.execute('CREATE INDEX IF NOT EXISTS idx_employee_name ON employees (employee_name)')
cursor.execute('CREATE INDEX IF NOT EXISTS idx_department_name ON departments (department_name)')

cursor.execute("INSERT INTO departments (department_name) VALUES ('Human Resources')")
cursor.execute("INSERT INTO departments (department_name) VALUES ('Engineering')")
cursor.execute("INSERT INTO departments (department_name) VALUES ('Sales')")

cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('Mayura',1), ('Mayuresh', 2), ('Sugandha', 2), ('Srujan',3)")
conn.commit()

In [6]:
cursor.execute('SELECT * from departments')
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Human Resources')
(2, 'Engineering')
(3, 'Sales')

In [7]:
cursor.execute('SELECT * from employees')
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Mayura', 1)
(2, 'Mayuresh', 2)
(3, 'Sugandha', 2)
(4, 'Srujan', 3)

In [8]:
print('employees and theoir department:')
cursor.execute('''SELECT * from employees JOIN departments ON employees.department_id = departments.department_id''')
results = cursor.fetchall()
for row in results:
    print(row)

employees and theoir department:
(1, 'Mayura', 1, 1, 'Human Resources')
(2, 'Mayuresh', 2, 2, 'Engineering')
(3, 'Sugandha', 2, 2, 'Engineering')
(4, 'Srujan', 3, 3, 'Sales')

In [15]:
cursor.execute("drop table employees")
cursor.execute("drop table departments")

In [17]:
cursor.close()
conn.close()