In [1]:
import sqlite3

In [4]:
conn = sqlite3.connect('school.db')
cursor = conn.cursor()

In [8]:
cursor.execute('''
CREATE TABLE stuents(id INTEGER PRIMARY KEY, name TEXT, age INTEGER, grade TEXT)''')

In [10]:
cursor.execute('''create table courses(id INTEGER PRIMARY KEY, course_name TEXT, instructor TEXT)''')

In [18]:
cursor.execute("INSERT INTO stuents VALUES (1, 'ankit', 23, 'A+'),(2, 'adarsh', 21, 'E'),(3, 'b', 32,'f'),(4, 'sd', 98, 's')")

In [20]:
cursor.execute("INSERT INTO courses VALUES (54, 'dai', 'anjali'),(43,'dbda','vishwa'),(35, 'dac', 'elena')")

In [22]:
cursor.execute("SELECT * from stuents WHERE grade = 'A+' ")

In [25]:
results= cursor.fetchall()
for row in results:
    print(row)

(1, 'ankit', 23, 'A+')

In [27]:
cursor.execute("SELECT * from courses ORDER BY course_name ASC")

In [29]:
results= cursor.fetchall()
for row in results:
    print(row)

(35, 'dac', 'elena')
(54, 'dai', 'anjali')
(43, 'dbda', 'vishwa')

In [33]:
cursor.execute("UPDATE stuents SET grade = 'A+' WHERE id= 3")

In [35]:
results= cursor.fetchall()
for row in results:
    print(row)

In [37]:
cursor.execute("SELECT * FROM stuents")

In [39]:
results= cursor.fetchall()
for row in results:
    print(row)

(1, 'ankit', 23, 'A+')
(2, 'adarsh', 21, 'E')
(3, 'b', 32, 'A+')
(4, 'sd', 98, 's')

In [45]:
cursor.execute("UPDATE courses SET instructor = 'Awin' WHERE id= 43")

In [47]:
cursor.execute("SELECT * FROM courses")
results= cursor.fetchall()
for row in results:
    print(row)

(35, 'dac', 'elena')
(43, 'dbda', 'Awin')
(54, 'dai', 'anjali')

In [51]:
cursor.execute("DELETE from stuents WHERE id = '4'")
cursor.execute("SELECT * from stuents")
results= cursor.fetchall()
for row in results:
    print(row)

(1, 'ankit', 23, 'A+')
(2, 'adarsh', 21, 'E')
(3, 'b', 32, 'A+')

In [59]:
cursor.execute("DROP table stuents")

In [61]:
cursor.execute("DROP table courses")